body {
  background-color: #fff9f9;
}
.storeNames {
  padding: 10px;
  display: inline-block;
}
.container {
  font-family: 'Raleway', sans-serif;
}
#mainTitle {
  font-size: 150%;
  font-weight: 500;
}
#storeNames {
  margin: 20px 0;
}
.navbar {
	min-height: 50px;
	margin-bottom: 50px;
	padding-bottom: 20px;
}
.nav-wrapper {
	background-color: #ff8282;
}
#myGif {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}
/* mobile friendly */
.sidenav-transition .sidenav-backdrop.mat-sidenav-shown {
  background: #282828 !important;  
}
@media screen and (min-width: 601px) {
	div.mobilefriendlytext {
    font-size: 30px;
	}
}
@media screen and (max-width: 600px) {
	div.mobilefriendlytext {
		font-size: 15px;
	}
}
/* table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
table, th, td {
  border: 1px solid black;
}
#myDynamicTable {
  width: 80%;
  margin: auto;
}
.total {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color:#ff8282;
	-webkit-animation: flash linear 1.5s infinite;
  animation: flash linear 1.5s infinite;
}
@-webkit-keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}
.legend {
  margin: 0 50px;
}

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.grandTotal {
  font-weight: 800;
}

button .btn{
  background-color: #ff8282 !important;
}

.carousel {
	/* margin-top: 40px; */
	border-radius: 5px;
}

.carousel-item {
	width: 100%;
	height: 100%;
}

.carousel-fixed-item h1 {
	font-family: 'EB Garamond', serif;
	text-shadow: 3px 3px 4px #323232;
	color: white;
}

.carousel-fixed-item p {
	background-color: rgba(0,0,0,0.4);
}

#searchbaronmain {
	margin: 0;
}